/* All Styling for App.js. If you want to customize further check the bootstrap docs for guidance. */

.jumbotron {
  background-color: #cfc4b0;
  margin-top:2em;
  color: black;
}

.tron {
  float: left;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Row {
  margin-top: 5em;
}

.Row-spacing {
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.Graph-title {
  display: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.card {
  box-shadow: 10px #888888;
}

.Card-text {
  font-size: calc(1px + 2vmin);
  color: black;
}